<a href="https://colab.research.google.com/github/PrabhaRajesh/Gmail_spam_detection/blob/main/Gmail_Spam_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import nltk
from nltk.stem.snowball import SnowballStemmer
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier

In [ ]:
df = pd.read_csv('SPAM-210331-134237.csv',encoding='windows-1254')

In [ ]:
df.head()

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
df['spam'] = df['type'].map({'ham':0,'spam':1}).astype(int)

In [ ]:
df.head()

   type                                               text  spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0
4   ham  Nah I don't think he goes to usf, he lives aro...     0

In [ ]:
df['text'] = df.apply(lambda row: nltk.word_tokenize(row['text']),axis=1)

LookupError: ignored

In [ ]:
df.head()

   type                                               text  spam
0   ham  [Go, until, jurong, point, ,, crazy, .., Avail...     0
1   ham           [Ok, lar, ..., Joking, wif, u, oni, ...]     0
2  spam  [Free, entry, in, 2, a, wkly, comp, to, win, F...     1
3   ham  [U, dun, say, so, early, hor, ..., U, c, alrea...     0
4   ham  [Nah, I, do, n't, think, he, goes, to, usf, ,,...     0

In [ ]:
match = SnowballStemmer("english",ignore_stopwords=False)

In [ ]:
def func(items):
    return [match.stem(item) for item in items]

In [ ]:
df['text'] = df['text'].apply(func)

In [ ]:
df.head()

   type                                               text  spam
0   ham  [go, until, jurong, point, ,, crazi, .., avail...     0
1   ham             [ok, lar, ..., joke, wif, u, oni, ...]     0
2  spam  [free, entri, in, 2, a, wkli, comp, to, win, f...     1
3   ham  [u, dun, say, so, earli, hor, ..., u, c, alrea...     0
4   ham  [nah, i, do, n't, think, he, goe, to, usf, ,, ...     0

In [ ]:
shrinker = WordNetLemmatizer()

def func1(items):
    return [shrinker.lemmatize(item,pos="a") for item in items]
df['text'] = df['text'].apply(func1)

In [ ]:
df.head()

   type                                               text  spam
0   ham  [go, until, jurong, point, ,, crazi, .., avail...     0
1   ham             [ok, lar, ..., joke, wif, u, oni, ...]     0
2  spam  [free, entri, in, 2, a, wkli, comp, to, win, f...     1
3   ham  [u, dun, say, so, earli, hor, ..., u, c, alrea...     0
4   ham  [nah, i, do, n't, think, he, goe, to, usf, ,, ...     0

In [ ]:
eliminator = stopwords.words('english')
def func2(items):
    return [item for item in items if not item in eliminator]

In [ ]:
df['text'] = df['text'].apply(func2)

In [ ]:
df.head()

   type                                               text  spam
0   ham  [go, jurong, point, ,, crazi, .., avail, onli,...     0
1   ham             [ok, lar, ..., joke, wif, u, oni, ...]     0
2  spam  [free, entri, 2, wkli, comp, win, fa, cup, fin...     1
3   ham  [u, dun, say, earli, hor, ..., u, c, alreadi, ...     0
4   ham  [nah, n't, think, goe, usf, ,, live, around, t...     0

In [ ]:
df['text'] = df['text'].apply(' '.join)

In [ ]:
tfidf = TfidfVectorizer()
X = tfidf.fit_transform(df['text'])
Y=df.spam.values

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,train_size=0.8)

In [ ]:
lg = LogisticRegression()
lg.fit(X_train,Y_train)
accuracy_score(Y_test,lg.predict(X_test))

0.9166666666666666

In [ ]:
svc=SVC()
svc.fit(X_train,Y_train)
accuracy_score(Y_test,lg.predict(X_test))

0.9166666666666666

In [ ]:
tree = DecisionTreeClassifier()
tree.fit(X_train,Y_train)
accuracy_score(Y_test,tree.predict(X_test))

0.9583333333333334